@model MyWebSite.ViewModels.ProjectViewModel;


@{
    ViewData["Title"] = "Create Project";

}

<div class="backgroundWhiteBorder">

    <h4>@ViewData["Title"]</h4>

    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="MainImage" type="hidden" />

        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Project Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="Created" class="control-label"></label>
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                        <input asp-for="Created" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" />
                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description of Project">
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="ToolsUsed" class="control-label"></label>
                    <textarea asp-for="ToolsUsed" class="form-control" rows="2" placeholder="Tool used in the Project"></textarea>
                    <span asp-validation-for="ToolsUsed" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="GitHubLink" class="control-label"></label>
                    <input asp-for="GitHubLink" class="form-control" placeholder="GiHub Link">
                    <span asp-validation-for="GitHubLink" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" placeholder="Link the Project">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="MainImage" class="control-label"></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ImageUpload" asp-for="ImageUpload" />
                        <label class="custom-file-label" for="ImageUpload">Choose file</label>
                    </div>
                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label"></label>
                    <input asp-for="IsActive" value="true" class="form-control">
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <a class="btn btn-warning form-control" asp-action="Index">Back to List</a>
            </div>
            <div class="col-12 col-md-6">
                <button class="btn btn-primary form-control">Save</button>
            </div>
        </div>

    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L'
            });
        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    </script>
}