@model MyWebSite.ViewModels.ProjectViewModel



@{
    ViewData["Title"] = "Edit Project";

}

<div class="backgroundWhiteBorder">

    <h4>@ViewData["Title"]</h4>

    <h3>Are you sure you want to Delete this record?</h3>

    <partial name="_ProjectDetails.cshtml" />

    <form asp-action="Delete" method="post">
        <div class="row">
            <div class="col-12 col-md-6">
                <a class="btn btn-warning form-control" asp-action="Index">Back to List</a>
            </div>
            <div class="col-12 col-md-6">
                <button class="btn btn-danger form-control" asp-route-id="@Model.Id">Delete</button>
            </div>
        </div>
    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L'
            });
        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
}