@model MyWebSite.ViewModels.ProjectViewModel


@{
    ViewData["Title"] = "Project's Images";
}


<div class="backgroundWhiteBorder">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" readonly>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <h4>List of Images 
        <a asp-controller="ProjectImages" asp-action="Create" asp-route-idProject="@Model.Id"><span><i class="fas fa-plus-circle"></i></span></a>
    </h4>


    <partial name="_ListOfImages" model="@Model.ProjectImages">

</div>